# =============== #
# Unity Generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# =============== #
# User-specific   #
# =============== #

UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# =============== #
# OS Generated    #
# =============== #

.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# =============== #
# Visual Studio   #
# =============== #

.vscode/
*.code-workspace

# Rider
.idea/
*.sln.iml

# Crash & Debug Logs